/* ===========================================
Imports
=========================================== */
/* ===========================================
Colors
=========================================== */
/* ==========================================
Text
========================================== */
/* ==========================================
Box
=========================================== */
/* ==========================================
Feedback
========================================== */
.error-box {
  background: #531d22;
  border: 2px dotted #c04955;
  color: #c04955;
  margin: 0 0 1rem;
}
.error-box:before {
  content: "\e00d";
}
.info-box {
  background: #1d534e;
  border: 2px dotted #49c0b4;
  color: #49c0b4;
  margin: 0 0 1rem;
}
.info-box:before {
  content: "\e00f";
}
.alert-box {
  background: #aa9632;
  border: 2px dotted #e0d395;
  color: #e0d395;
  margin: 0 0 1rem;
}
.alert-box:before {
  content: "\e00e";
}
/* ==========================================
Images
========================================== */
/* =================================
Normalize
================================== */
body {
  margin: 0;
  padding: 0;
}
div,
header,
p,
article,
aside,
nav,
hgroup,
footer,
section,
pre,
form,
fieldset,
ul,
ol,
iframe,
button,
img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 0;
  padding: 0 0;
}
img {
  max-width: 100%;
  padding: 0;
}
header,
footer,
p,
div {
  padding: 1rem;
}
ul {
  padding: 0;
}
/* ====================================
Typography
===================================== */
@font-face {
  font-family: 'icomoon';
  src: url('../icomoon/fonts/icomoon.eot');
  src: url('../icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../icomoon/fonts/icomoon.woff') format('woff'), url('../icomoon/fonts/icomoon.ttf') format('truetype'), url('../icomoon/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-html5,
.icon-css3,
.icon-chrome,
.icon-firefox,
.icon-IE,
.icon-opera,
.icon-safari,
.icon-twitter,
.icon-tux,
.icon-linkedin,
.icon-skype,
.icon-github,
.icon-feed,
.icon-spam,
.icon-warning,
.icon-info,
.icon-new-tab,
.icon-menu,
.icon-screen,
.icon-mobile,
.icon-tablet,
.icon-mail,
.error-box:before,
.device-mode,
.alert-box:before,
.info-box:before,
a[href^="http://"]:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 105%;
  font-family: Arial, sans-serif;
  line-height: 1.5rem;
}
h1,
h2,
h3,
h4,
h5 {
  display: block;
  margin: 0;
  line-height: 2rem;
}
h1 {
  font-size: 1.7rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.2rem;
}
a {
  color: #2a7971;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[href^="http://"]:after {
  content: " \e010";
}
/* Icons ---------------------------------- */
.icon-html5:before {
  content: "\e000";
}
.icon-css3:before {
  content: "\e001";
}
.icon-chrome:before {
  content: "\e002";
}
.icon-firefox:before {
  content: "\e003";
}
.icon-IE:before {
  content: "\e004";
}
.icon-opera:before {
  content: "\e005";
}
.icon-safari:before {
  content: "\e006";
}
.icon-twitter:before {
  content: "\e007";
}
.icon-tux:before {
  content: "\e008";
}
.icon-linkedin:before {
  content: "\e009";
}
.icon-skype:before {
  content: "\e00a";
}
.icon-github:before {
  content: "\e00b";
}
.icon-feed:before {
  content: "\e00c";
}
.icon-spam:before {
  content: "\e00d";
}
.icon-warning:before {
  content: "\e00e";
}
.icon-info:before {
  content: "\e00f";
}
.icon-new-tab:before {
  content: "\e010";
}
.icon-menu:before {
  content: "\e011";
}
.icon-screen:before {
  content: "\e012";
}
.icon-mobile:before {
  content: "\e013";
}
.icon-tablet:before {
  content: "\e014";
}
.icon-mail:before {
  content: "\e015";
}
/* ======================================
Layout
======================================= */
/* Navigation ------------------------- */
nav {
  padding: 0;
}
nav ul {
  display: none;
  list-style-type: none;
  padding: 0;
}
nav ul li {
  border-bottom: 1px dotted #000000;
  text-align: center;
}
nav ul li:hover {
  background-color: #b2b2b2;
}
nav ul li a {
  display: block;
  padding: 1rem 0;
}
/* Advanced (Android) Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
label[for="menuToggle"] {
  display: block;
  font-size: 2rem;
}
input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
}
input[type='checkbox']:checked ~ ul {
  display: block;
}
input[type='checkbox']:checked ~ label {
  color: #000000;
  background-color: #b2b2b2;
}
/* Blocks ----------------------------- */
.three-quarters,
.half,
.quarter,
.third,
.two-thirds {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
/* Device DIsplay -------------------- */
.device-mode {
  font-size: 1.7rem;
  float: right;
}
.device-mode:before {
  content: "\e013";
}
.device-mode:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* ===============================================
Media Queries
=============================================== */
@media only screen and (min-width: 561px) {
  html {
    font-size: 90%;
  }
  .device-mode:before {
    content: "\e014";
  }
  div,
  header,
  p,
  article,
  aside,
  nav,
  hgroup,
  footer,
  section,
  pre,
  form,
  fieldset,
  ul,
  ol,
  iframe,
  button,
  img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0;
    padding: 1rem 1rem;
  }
  p {
    padding: 1rem 0;
  }
  .nav-horizontal label[for="menuToggle"] {
    display: none;
  }
  .nav-horizontal input[type='checkbox'] {
    display: none;
  }
  .nav-horizontal ul {
    display: block;
  }
  .nav-horizontal li {
    display: inline-block;
    border: none;
  }
  .nav-horizontal li a {
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
  }
  .nav-horizontal li a:hover {
    text-decoration: underline;
  }
  .nav-horizontal li:first-child a {
    padding-left: 0;
  }
  .quarter,
  .third {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
  .two-thirds,
  .three-quarters {
    width: 67%;
    display: inline-block;
    vertical-align: top;
  }
}
@media only screen and (min-width: 800px) {
  html {
    font-size: 90%;
  }
  div,
  header,
  article,
  aside,
  nav,
  hgroup,
  footer,
  section,
  pre,
  form,
  fieldset,
  ul,
  ol,
  iframe,
  button,
  img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0;
    padding: 1rem 1rem;
  }
  .quarter {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }
  .three-quarters {
    width: 75%;
    display: inline-block;
    vertical-align: top;
  }
  .half {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  .device-mode:before {
    content: "\e012";
  }
}
/* ===========================================
Theme
=========================================== */
body {
  background: #323232;
  color: #b2b2b2;
}
header,
footer {
  background: #792a32;
  color: #2a7971;
}
