/* ===========================================
Colors
=========================================== */
@primary_color: rgb(54, 187, 206);
@primary_color_dark: darken(@primary_color, 20%);
@primary_color_light: lighten(@primary_color, 20%);

@secondary_color: rgb(221, 55, 132);
@secondary_color_dark: darken(@secondary_color, 20%);
@secondary_color_light: lighten(@secondary_color, 20%);

@support_color: rgb(50, 50, 50);
@support_color_light: lighten(@support_color, 50%);
@support_color_dark: darken(@support_color, 25%);

@error_color: darken(@secondary_color, 10%);
@alert_color: rgb(170, 150, 50);
@info_color: darken(@primary_color_dark, 10%);