/* =================================
Forms
================================== */

fieldset{
    padding: 10px;
    margin: 1.4rem 0;
}

input[type="radio"]:checked {
    color: #ff0033;
    background: #ff0033;
}

input[type="text"], select{

    padding: 5px;
    font-size: 1.6rem;
}