/* ======================================
Layout
======================================= */


/* Navigation ------------------------- */

nav {
    padding: 0;

    ul {
        display: none;
        list-style-type: none;
        padding: 0;
        li {
            border-bottom: 1px dotted @support_color_dark;
            text-align: center;

            &:hover {
                background-color: @support_color_light;
            }

            a {
                display: block;
                padding: 1rem 0;
            }
        }
    }
}

/* Advanced (Android) Checkbox Hack */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

label[for="menuToggle"]{

    display: block;
    font-size: 2rem;
}

input[type='checkbox']{
    position: absolute;
    visibility: hidden;
    &:checked ~ ul {
        display: block;
    }
}


/* Blocks ----------------------------- */
.segment(@width: 100%) {

    width: @width;
    display: inline-block;
    vertical-align: top;
}

.three-quarters, .half, .quarter, .third, .two-thirds {

    .segment(100%);
}