/* ==========================================
Feedback
========================================== */

.error-box {

    background: @error_color;
    border: 2px solid lighten(@error_color, 30%);
    color: lighten(@error_color, 30%);
}

.alert-box {

}

.info-box {

}