/* =================================
Normalize
================================== */

@padding_default: 1rem;

.box-sizing (@vert: 1rem, @horiz: 0) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    margin: 0;
    clear: both;
    padding: @vert @horiz;
}

body, ul, img {
    margin: 0;
    padding: 0;
}

div,header,p,article,aside,nav,footer,section,pre,
form,fieldset,ul,ol,li,iframe,input,button,img,h1,h2,h3,h4,h5,h6 {

    .box-sizing(0);
}

header,footer, p, div {
    padding: @padding_default;
}

img {
    max-width: 100%;
}