/* ===========================================
Theme
=========================================== */
body {

    background: @support_color;
    color: @support_color_light;
}

header, footer {

    background: @primary_color;
    color: @primary_color_dark;
/*
    .padded();
*/
}

.quarter,
.third,
.half,
.three-quarters,
.two-thirds {

	& .quarter,
	& .third,
	& .half,
	& .three-quarters,
	& .two-thirds {
		padding: 0 1rem 2rem;
	}

	& .quarter:last-child,
	& .third:last-child,
	& .half:last-child,
	& .three-quarters:last-child,
	& .two-thirds:last-child {
		padding: 0 0 2rem 1rem;
	}

	& .quarter:first-of-type,
	& .third:first-of-type,
	& .half:first-of-type,
	& .three-quarters:first-of-type,
	& .two-thirds:first-of-type {
		padding: 0 1rem 2rem 0;
	}
	/*
	& .quarter:nth-child(odd),
	& .third:nth-child(odd),
	& .half:nth-child(odd),
	& .three-quarters:nth-child(odd),
	& .two-thirds:nth-child(odd) {
		padding: 0 1rem 2rem 0;
	}

	& .quarter:nth-child(even),
	& .third:nth-child(even),
	& .half:nth-child(even),
	& .three-quarters:nth-child(even),
	& .two-thirds:nth-child(even) {
		padding: 0 0 2rem 1rem;
	}
	*/
}