/* ===========================================
Theme
=========================================== */
body {

    background: @support_color;
    color: @support_color_light;
}

header, footer {

    background: @primary_color;
    color: @primary_color_dark;
    .padded();
}