/* ====================================
Typography
===================================== */

@font-face {
    font-family: 'icomoon';
    src:url('../icomoon-free/fonts/icomoon.eot?v8xzmv');
    src:url('../icomoon-free/fonts/icomoon.eot?#iefixv8xzmv') format('embedded-opentype'),
        url('../icomoon-free/fonts/icomoon.woff?v8xzmv') format('woff'),
        url('../icomoon-free/fonts/icomoon.ttf?v8xzmv') format('truetype'),
        url('../icomoon-free/fonts/icomoon.svg?v8xzmv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-html5:before, .icon-css3:before, .icon-chrome:before, .icon-firefox:before, .icon-ie:before,
.icon-osx:before, .icon-opera:before, .icon-safari:before, .icon-twitter:before, .icon-linux:before,
.icon-linkedin:before, .icon-skype:before, .icon-github:before, .icon-feed:before, .icon-spam:before,
.icon-warning:before, .icon-windows:before, .icon-info:before, .icon-new-tab:before, .icon-menu:before,
.icon-screen:before, .icon-mobile:before, .icon-mobile2:before, .icon-file-css:before, .icon-file-xml:before,
.icon-file-pdf:before, .icon-libreoffice:before, .icon-android:before, .icon-code:before, .icon-new-tab:before,
.icon-cog:before, .icon-rocket:before, .icon-lab:before, .icon-tablet:before, .icon-mail:before, .error-box:before,
.device-mode:before, .alert-box:before, .info-box:before, a[href^="http://"]:after {
    font-family: @icon-font-family;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html {

    font-size: 62.5%;
    font-family: Arial, sans-serif;
}

body {

    font-size: 2.2rem;
    line-height: 2.6rem;
}

h1, h2, h3, h4, h5 {

    display: block;
    line-height: 2rem;
    text-transform: capitalize;
}

h1 {.font_size(3.6rem)}
h2 {.font_size(3.4rem)}
h3 {.font_size(3.2rem)}
h4 {.font_size(3rem)}
h5 {.font_size(2.8rem)}
h6 {.font_size(2.6rem)}

a {
    color: @secondary_color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    // show external icon for external links
    &[href^="http://"]:after {
        content: " \e15a";
    }
}

/* utility -------------------------------- */

.captialize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}


/* Icons ---------------------------------- */

.iconPaddingRight{
    padding: 0 1.4rem 0 0;
}

.icon-safari:before {
    content: @browser-safari-icon;
    &:extend(.iconPaddingRight);
}
.icon-opera:before {
    content: @browser-opera-icon;
    &:extend(.iconPaddingRight);
}
.icon-ie:before {
    content: @browser-explorer-icon;
    &:extend(.iconPaddingRight);
}
.icon-firefox:before {
    content: @browser-firefox-icon;
    &:extend(.iconPaddingRight);
}
.icon-chrome:before {
    content: @browser-chrome-icon;
    &:extend(.iconPaddingRight);
}
.icon-css3:before {
    content: @badge-css3-icon;
    &:extend(.iconPaddingRight);
}
.icon-html5:before {
    content: @badge-html5-icon;
    &:extend(.iconPaddingRight);
}
.icon-file-css:before {
    content: @file-css-icon;
    &:extend(.iconPaddingRight);
}
.icon-file-xml:before {
    content: @file-xml-icon;
    &:extend(.iconPaddingRight);
}
.icon-file-pdf:before {
    content: @file-pdf-icon;
    &:extend(.iconPaddingRight);
}
.icon-libreoffice:before {
    content: @file-generic-icon;
    &:extend(.iconPaddingRight);
}
.icon-linux:before {
    content: @linux-generic-icon;
    &:extend(.iconPaddingRight);
}
.icon-osx:before {
    content: @apple-osx-icon;
    &:extend(.iconPaddingRight);
}
.icon-windows:before {
    content: @ms-windows-icon;
    &:extend(.iconPaddingRight);
}
.icon-android:before {
    content: @android-icon;
    &:extend(.iconPaddingRight);
}
.icon-github:before {
    content: @github-icon;
    &:extend(.iconPaddingRight);
}
.icon-twitter:before {
    content: @twitter-icon;
    &:extend(.iconPaddingRight);
}
.icon-skype:before {
    content: @skype-icon;
    &:extend(.iconPaddingRight);
}
.icon-code:before {
    content: @code-icon;
    &:extend(.iconPaddingRight);
}
.icon-new-tab:before {
    content: @external-link-icon;
    &:extend(.iconPaddingRight);
}
.icon-mobile:before {
    content: @phone-icon;
    &:extend(.iconPaddingRight);
}
.icon-mobile2:before {
    content: @phablet-icon;
    &:extend(.iconPaddingRight);
}
.icon-tablet:before {
    content: @tablet-icon;
    &:extend(.iconPaddingRight);
}
.icon-cog:before {
    content: @cog-icon;
    &:extend(.iconPaddingRight);
}
.icon-rocket:before {
    content: @rocket-icon;
}
.icon-lab:before {
    content: @beaker-icon;
}
.alert-box:before,
.icon-warning:before {
    content: @caution-icon;
    &:extend(.iconPaddingRight);
}
.info-box:before,
.icon-info:before {
    content: @info-icon;
    &:extend(.iconPaddingRight);
}
.error-box:before,
.icon-spam:before {
    content: @stop-icon;
    &:extend(.iconPaddingRight);
}
.icon-checkbox-partial:before {
    content: @checkbox-input-checked;
    &:extend(.iconPaddingRight);
}
.icon-checkbox-unchecked:before {
    content: @checkbox-input-unchecked;
    &:extend(.iconPaddingRight);
}
.icon-radio-checked:before {
    content: @radio-input-checked;
    &:extend(.iconPaddingRight);
}
.icon-radio-unchecked:before {
    content: @radio-input-unchecked;
    &:extend(.iconPaddingRight);
}
.icon-menu:before {
    content: @mobile-menu-icon;
    &:extend(.iconPaddingRight);
}
.icon-plus:before {
    content: @plus-icon;
    &:extend(.iconPaddingRight);
}
.icon-minus:before {
    content: @minus-icon;
    &:extend(.iconPaddingRight);
}
.icon-screen:before {
    content: @desktop-icon;
    &:extend(.iconPaddingRight);
}