/* ====================================
Typography
===================================== */

html {

    font-size: 108%;
    font-family: Arial, sans-serif;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5 {

    display: block;
    margin: 0;
    line-height: 2rem;
}

h1 {font-size: 2rem;}

h2 {font-size: 1.8rem;}

h3 {font-size: 1.6rem;}

h4 {font-size: 1.4rem;}

h5 {font-size: 1.2rem;}

h6 {font-size: 1.15rem;}

a {
    color: @secondary_color;
}

nav a {
    text-decoration: none;
}