doctype html
html(lang="en")
	head
		link(rel='stylesheet', href='css/main.css')
	body
		header.main-header
			span.device-mode
			h1 New Title
			h2 and subtitle here

		nav.nav-horizontal
			ul
				li Menu 1
				li Menu 2
				li Menu 3

		article.half

		article.half

		footer
			aside.colophon
			span.icon-html5
			span.icon-css3
			span.icon-linux
